#title-card {
    background-color: #232323;
    height: 100px;
    padding: 0;
    margin: 0;
    display: flex; /* Use flex display to extend the background color */
    justify-content: space-between; /* Align the content to the ends */
    align-items: center; /* Center the content vertically */
}

#div-title {
    display: inline-bl;
    margin-left: 20px; /* Add some spacing on the left */
}

#nav-bar {
    display: inline-block;
    margin-right: 20px; /* Add some spacing on the right */
    
}

#primary-navigation{
    height: auto;
}

#top-bar{
    color: aliceblue;
    list-style-type: none;
    display: flex; /* Use flex display to create a flexible row layout */
    justify-content: space-between; /* Space out the items along the row */
    align-items: center; /* Center items vertically within the navigation bar */
    padding: 0 20px;
    
}


#top-bar li {
    margin: 0;
}

#top-bar a {
    text-decoration: none;
    color: aliceblue;
    margin-right: 20px;

}

#contact {
    list-style-type: none;
    justify-content: space-between;
    
}

#github-link, #twitter-link {
    margin-left: auto; /* Push these items to the right */
}


#button-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust the height as needed */
    text-align: center;
    color: aliceblue;

    text-decoration: none; /* Optional: Remove underline */

}


body {
    background-color: #171717;
    margin-top: 0;
    margin: 0;
    padding: 0;
    border: 1px;
    font-family: 'Inria Sans', sans-serif;
}

h1, h2 {
    margin: 0;
    font-family: 'Inria Sans', sans-serif;
    color: aliceblue;
}

h3 {
    font-family: 'Inria Sans', sans-serif;
    color: aliceblue;
}

p {
    color: aliceblue;
    font-family: 'Inria Sans', sans-serif;
    display: block;          /* Ensure the block takes up the full width */
    margin-right: 20px;      /* Add space at the right side */
    justify-content: flex-start;         /* Add padding for spacing within the block */
}

ul {
    text-align: left;
    color: aliceblue;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    
}

.twitter-icon {
    color: gray;
}

.twitter-icon:hover {
    color: aqua;
}


.github-icon {
    color: gray;
}

.github-icon:hover {
    color: red;
}

.nav-links {
    font-size: large;
}